.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

table {
  border: 2px solid forestgreen;
  width: 300px;
  height: 30px;
}

td {
  text-align: center;
	border: 2px solid forestgreen;
  width: 100px;
}

.cashBtn {
	width: 100px;
	height: 30px;
	background-color: red;
}

.rollBtn {
	width: 100px;
	height: 30px;
	background-color: green;
}
